In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data_task3.csv', sep='\t')

In [4]:
data.head()

   Unnamed: 0  Unnamed: 0.1        login  uid  docid  jud  cjud
0           0             0  assessor158  158      0    0     0
1           1             1  assessor238  238      0    0     0
2           2             2  assessor488  488      0    0     0
3           3             3  assessor136  136      0    0     0
4           4             4  assessor300  300      0    0     0

In [5]:
data['mark'] = np.where((data['jud'] == data['cjud']), 1, 0)

In [6]:
data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1,  inplace=True)

In [7]:
data_new = data.groupby(['login'], axis=0, as_index=False)['mark'].sum()

Выведем топ-5 асессоров, которые сделали меньше всего ошибок

In [8]:
data_new.sort_values('mark', ascending=False).head(5)

           login  mark
103  assessor191   446
70   assessor161   432
299  assessor368   419
127  assessor212   414
121  assessor207   411